<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{$site['keword']}">
    <meta name="description" content="{$site['desc']}">
    <title>宿迁晴空网络科技有限公司 高防BGP服务器服务商</title>
    {include file="common:maincss"/}
</head>

<body>
    
    <!--start header-->
    {include file="common:header"/}
    <!--end header-->
    <!--start page content-->
    <section id="page-cont">
        <!--start page title-->
        <div class="page-title">
            <div class="container">
                <div class="page-breadcrumb text-center">
                    <h2>服务器托管</h2>
                    <ul>
                        <li><a href="{:url('Index/index')}"><i class="icofont-home"></i> 首页</a></li>
                        <li><small>></small></li>
                        <li>服务器托管</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end page title-->
        <!--start page content wrap-->
        <div class="page-cont-wrap p-0">
            <div class="pricing-area">
                <div class="container">
                    <div class="row">
                        <!--start section heading-->
                        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                            <div class="section-heading text-center">
                                <h2>我们的产品</h2>
                                <p>浙江杭州  江苏宿迁  山东枣庄  高防CN2</p>
                            </div>
                        </div>
                        <!--end section heading-->
                    </div>
                    <div class="row">
                        <!--start pricing table single-->
                        <div class="case_box">
                            <div class="category w1200">
                                <ul>
                                    <li class="active">浙江杭州</li>
                                    <li>江苏宿迁</li>
                                    <li>山东枣庄</li>
                                    <li>高防CN2</li>
                                </ul>
                            </div>
                            <div class="content w1200">
                                <!-- 浙江杭州 -->
                                <div class="cont active">
                                    <div class="mainbox">
                                        <div class="mainbox-title">浙江杭州</div>
                                        <div class="responsive">
                                            <table>
                                            <thead>
                                                <tr>
                                                    <th style="background:#495057;">机器型号</th>
                                                    <th style="background:#342fd2;">带宽</th>
                                                    <th style="background:#0574fe;">线路</th>
                                                    <th style="background:#fe0597;">IP数</th>
                                                    <th style="background:#35c6f0;">单机防御</th>
                                                    <th style="background:#28a745;">价格</th>
                                                    <th style="background:#6d70a6;">服务</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1U</td>
                                                    <td>50M</td>
                                                    <td>BGP</td>
                                                    <td>1</td>
                                                    <td>120G</td>
                                                    <td>1000元/月</td>
                                                    <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1U</td>
                                                    <td>50M</td>
                                                    <td>BGP</td>
                                                    <td>1</td>
                                                    <td>180G</td>
                                                    <td>1600元/月</td>
                                                    <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1U</td>
                                                    <td>50M</td>
                                                    <td>BGP</td>
                                                    <td>1</td>
                                                    <td>320G</td>
                                                    <td>2400元/月</td>
                                                    <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                </tr>
                                                <tr>
                                                    <td style="box-shadow: #495057 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8pxyou;">1U</td>
                                                    <td style="box-shadow: #342fd2 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">50M</td>
                                                    <td style="box-shadow: #0574fe 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">BGP</td>
                                                    <td style="box-shadow: #fe0597 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">1</td>
                                                    <td style="box-shadow: #35c6f0 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">400G</td>
                                                    <td class="red" style="box-shadow: #28a745 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">3600元/月</td>
                                                    <td style="box-shadow: #6d70a6 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="mainbox">
                                        <div class="mainbox-title">江苏宿迁</div>
                                        <div class="responsive">
                                                <table>
                                                <thead>
                                                    <tr>
                                                        <th style="background:#495057;">机器型号</th>
                                                        <th style="background:#342fd2;">带宽</th>
                                                        <th style="background:#0574fe;">线路</th>
                                                        <th style="background:#fe0597;">IP数</th>
                                                        <th style="background:#35c6f0;">单机防御</th>
                                                        <th style="background:#28a745;">价格</th>
                                                        <th style="background:#6d70a6;">服务</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>单线</td>
                                                        <td>1</td>
                                                        <td>100G</td>
                                                        <td>450元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>双线</td>
                                                        <td>2</td>
                                                        <td>100G</td>
                                                        <td>550元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>三线</td>
                                                        <td>3</td>
                                                        <td>100G</td>
                                                        <td>700元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>BGP</td>
                                                        <td>1</td>
                                                        <td>20G</td>
                                                        <td>680元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>BGP</td>
                                                        <td>1</td>
                                                        <td>100G</td>
                                                        <td>800元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>BGP</td>
                                                        <td>1</td>
                                                        <td>150G</td>
                                                        <td>950元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="box-shadow: #495057 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8pxyou;">1U</td>
                                                        <td style="box-shadow: #342fd2 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">30M</td>
                                                        <td style="box-shadow: #0574fe 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">BGP</td>
                                                        <td style="box-shadow: #fe0597 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">1</td>
                                                        <td style="box-shadow: #35c6f0 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">300G</td>
                                                        <td class="red" style="box-shadow: #28a745 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">1200元/月</td>
                                                        <td style="box-shadow: #6d70a6 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="bottombox">
                                            <div>附加：</div>
                                            <div>每加1U&nbsp;&nbsp;加200元/月
                                                另加IP&nbsp;&nbsp;普通IP：150元/个/月；高防IP：750元/个/月； 普通BGP：200元/个/月
                                                    BGP100G：300元/个/月；BGP150G：400元/个/月；BGP300G：800元/个/月
                                                    <br>内存&nbsp;&nbsp;16G/100元/月
                                                    <br>硬盘&nbsp;&nbsp;120G固态/100元/月；500G机械/100元/月
                                                    <br>CPU&nbsp;&nbsp;升到32H加200元；
                                                    <br>带宽&nbsp;&nbsp;单线带宽：12元/M/月（10M起）；双线带宽：16元/M/月（10M起）
                                                    <br>三线带宽&nbsp;&nbsp;20元/M/月（10M起）；BGP带宽：22元/M/月（10M起）</div>
                                        </div>
                                </div>
                                <div class="cont">
                                    <div class="mainbox">
                                        <div class="mainbox-title">山东枣庄</div>
                                        <div class="responsive">
                                                <table>
                                                <thead>
                                                    <tr>
                                                        <th style="background:#495057;">机器型号</th>
                                                        <th style="background:#342fd2;">带宽</th>
                                                        <th style="background:#0574fe;">线路</th>
                                                        <th style="background:#fe0597;">IP数</th>
                                                        <th style="background:#35c6f0;">单机防御</th>
                                                        <th style="background:#28a745;">价格</th>
                                                        <th style="background:#6d70a6;">服务</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>单线</td>
                                                        <td>1</td>
                                                        <td>100G</td>
                                                        <td>450元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>双线</td>
                                                        <td>2</td>
                                                        <td>100G</td>
                                                        <td>550元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>三线</td>
                                                        <td>3</td>
                                                        <td>100G</td>
                                                        <td>700元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>30M</td>
                                                        <td>BGP</td>
                                                        <td>1</td>
                                                        <td>20G</td>
                                                        <td>680元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="box-shadow: #495057 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8pxyou;">1U</td>
                                                        <td style="box-shadow: #342fd2 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">30M</td>
                                                        <td style="box-shadow: #0574fe 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">BGP</td>
                                                        <td style="box-shadow: #fe0597 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">1</td>
                                                        <td style="box-shadow: #35c6f0 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">100G</td>
                                                        <td class="red" style="box-shadow: #28a745 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">800元/月</td>
                                                        <td style="box-shadow: #6d70a6 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="bottombox">
                                            <div>附加：</div>
                                            <div>每加1U&nbsp;&nbsp;加200元/月
                                                另加IP&nbsp;&nbsp;普通IP：150元/个/月；高防IP：750元/个/月； 普通BGP：200元/个/月
                                                    BGP100G：300元/个/月；BGP150G：400元/个/月；BGP300G：800元/个/月
                                                    <br>内存&nbsp;&nbsp;16G/100元/月
                                                    <br>硬盘&nbsp;&nbsp;120G固态/100元/月；500G机械/100元/月
                                                    <br>CPU&nbsp;&nbsp;升到32H加200元；
                                                    <br>带宽&nbsp;&nbsp;单线带宽：12元/M/月（10M起）；双线带宽：16元/M/月（10M起）
                                                    <br>三线带宽&nbsp;&nbsp;20元/M/月（10M起）；BGP带宽：22元/M/月（10M起）</div>
                                        </div>
                                </div>
                                <div class="cont">
                                    <div class="mainbox">
                                        <div class="mainbox-title">高防CN2产品</div>
                                        <div class="responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th style="background:#495057;">机器型号</th>
                                                        <th style="background:#342fd2;">带宽</th>
                                                        <th style="background:#0574fe;">线路</th>
                                                        <th style="background:#fe0597;">IP数</th>
                                                        <th style="background:#35c6f0;">单机防御</th>
                                                        <th style="background:#28a745;">价格</th>
                                                        <th style="background:#6d70a6;">服务</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>100M</td>
                                                        <td>CN2</td>
                                                        <td>1</td>
                                                        <td>10G秒解</td>
                                                        <td>1299元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1U</td>
                                                        <td>100M</td>
                                                        <td>CN2</td>
                                                        <td>2</td>
                                                        <td>200G秒解</td>
                                                        <td>4199元/月</td>
                                                        <td><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="box-shadow: #495057 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8pxyou;">1U</td>
                                                        <td style="box-shadow: #342fd2 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">100M</td>
                                                        <td style="box-shadow: #0574fe 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">CN2</td>
                                                        <td style="box-shadow: #fe0597 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">2</td>
                                                        <td style="box-shadow: #35c6f0 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">300G秒解</td>
                                                        <td class="red" style="box-shadow: #28a745 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;">5199元/月</td>
                                                        <td style="box-shadow: #6d70a6 0px 6px 0px; border-radius:0px 0px 5px 5px;padding-bottom:8px;"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank">优惠咨询</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                    <div class="bottombox">
                                        <div>其他高防定制：</div>
                                        <div>定制防御300G到死扛打不死，请咨询售前客服</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end pricing table single-->
                    </div>
                </div>
            </div>
        </div>
        <!--end page content wrap-->
    </section>
    <!--end page content-->
    {include file="common:footer"/}
    {include file="common:mainjs"/}
    {include file="common:sider"/}
    <!--选项卡-->
    <script type="text/javascript">
        $(function() {
            $('.category ul li').click(function() {
                var i = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.content .cont').eq(i).addClass('active').siblings().removeClass('active');
            })
            // $("tbody tr").hover(
            //     function(){
            //         $(this).css({"border":"3px solid yellow","color":"red"})
            //     },
            //     function(){
            //         $(this).css({"border":"initial","color":"initial"})
            //     }
            // )
        });
    </script>
</body>

</html>
