<!--start footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!--start footer widget-->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h4>公众号</h4>
                    <ul>
                        <li><img src="__IMG__/gz_code.jpg" style="width:200px;"></li>
                    </ul>
                </div>
            </div>
            <!--end footer widget-->
            <!--start footer widget-->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h4>微信</h4>
                    <ul>
                        <li><a href="">18800602682</a></li>
                    </ul>
                </div>
            </div>
            <!--end footer widget-->
            <!--start footer widget-->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h4>售前QQ</h4>
                    <ul>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank"><img src="__IMG__/qq_jt.png"/></a></li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=630668748&amp;site=qq&amp;menu=yes" target="blank"><img src="__IMG__/qq_jt.png"/></a></li>
                    </ul>
                </div>
            </div>
            <!--end footer widget-->
            <!--start footer widget-->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h4>售后QQ</h4>
                    <ul>
                            <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank"><img src="__IMG__/qq_jt.png"/></a></li>
                    </ul>
                </div>
            </div>
            <!--end footer widget-->
        </div>
        <div class="copyright-text text-center">
            <p>苏ICP备19040109</p>
            <p>Copy &copy; 2019 All Rights Reserved By <a href="">晴空网络</a></p>
        </div>
    </div>
</footer>
<!--end footer-->
