<div class="header-top" style="background:#2b303b;">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-2">
                <div class="logo">
                    <a class="logo" href="{:url('Index/index')}"><img src="__IMG__/logo.png" alt="logo" width=""></a>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="header-right text-right">
                    <ul>
                        <li><a href="{:url('Login/register')}"><i class="icofont-user-alt-2"></i> 注册</a></li>
                        <li><a href="{:url('Login/login')}"><i class="icofont-lock"></i> 登录</a></li>
                        <li><a href=""><i class="icofont-comment"></i> 帮助</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--start header-->
<header class="header" style="width:100%;top:55.8px;">
    <!--start header top-->
    <!--end header top-->
    <!--start header bottom-->
    <div class="header-btm">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a class="logo" href="{:url('Index/index')}"><img src="__IMG__/logo_new.png" alt="logo" style="position:relative;top:-75px;height:55.8px;"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <nav class="mainmenu">
                        <ul>
                            <li><a class="active" href="{:url('Index/index')}">官网首页</a></li>
                            <li><a href="javascript:;">IDC产品 <i class="icofont-simple-down"></i></a>
                                <ul class="drop-down-menu">
                                    <li><a href="{:url('Product/serverrent')}">服务器租用</a></li>
                                    <li><a href="{:url('Product/serverdeposit')}">服务器托管</a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="">华云云主机</a></li> -->
                            <li><a href="{:url('Events/index')}">最新活动</a><li>
                            <!--<li><a href="{:url('Events/index2')}">公司活动</a></li>-->
                            <li><a href="{:url('Extra/index')}">升级服务</a></li>
                            <li><a href="{:url('About/index')}">关于我们</a></li>
                            <li><a href="{:url('Pay/index')}">付款方式</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--end header bottom-->
</header>