<!--favicon-->
<link rel="shortcut icon" type="image/png" href="__IMG__/favicon.png" />
<!--bootstrap css-->
<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<!--owl carousel css-->
<link rel="stylesheet" href="__CSS__/owl.carousel.min.css" />
<!--icomoon css-->
<link rel="stylesheet" href="__CSS__/icomoon.css" />
<!--icofont css-->
<link rel="stylesheet" href="__CSS__/icofont.min.css" />
<!--meanmenu css-->
<link rel="stylesheet" href="__CSS__/meanmenu.css" />
<!--main css-->
<link rel="stylesheet" href="__CSS__/style.css" />
<!--responsive css-->
<link rel="stylesheet" href="__CSS__/responsive.css"/>