<!--jQuery js-->
<script src="__JS__/jquery-3.3.1.min.js"></script>
<!--proper js-->
<script src="__JS__/popper.min.js"></script>
<!--bootstrap js-->
<script src="__JS__/bootstrap.min.js"></script>
<!--counter js-->
<script src="__JS__/waypoints.js"></script>
<script src="__JS__/counterup.min.js"></script>
<!--owl carousel js-->
<script src="__JS__/owl.carousel.min.js"></script>
<!--meanmenu js-->
<script src="__JS__/meanmenu.min.js"></script>
<!--main js-->
<script src="__JS__/custom.js"></script>