<!--float right-->
<div class="suspension">
        <div class="suspension-box">
            <a href="javascript:;" class="a a-service "><i class="i"></i></a>
            <a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
            <a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
            <!-- <a href="#" class="a a-cart"><i class="i"></i></a> -->
            <a href="javascript:;" class="a a-top"><i class="i"></i></a>
            <div class="d d-service">
                <i class="arrow"></i>
                <div class="inner-box">
                    <div class="d-service-item clearfix">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>西一禾</h3></a>
                    </div>
                    <div class="d-service-item clearfix">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=630668748&amp;site=qq&amp;menu=yes" target="blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>酥糖</h3></a>
                    </div>
                    <div class="d-service-item clearfix">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=442191616&amp;site=qq&amp;menu=yes" target="blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>阿飞</h3></a>
                    </div>
                    <div class="d-service-item clearfix">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=835703585&amp;site=qq&amp;menu=yes" target="blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>售后服务</h3></a>
                    </div>
                </div>
            </div>
            <div class="d d-service-phone">
                <i class="arrow"></i>
                <div class="inner-box">
                    <div class="d-service-item clearfix">
                        <span class="circle"><i class="i-tel"></i></span>
                        <div class="text">
                            <p>服务热线</p>
                            <p class="red number">18800602682</p>
                        </div>
                    </div>
                    <div class="d-service-intro clearfix">
                        <p><i></i>功能和特性</p>
                        <p><i></i>价格和优惠</p>
                        <p><i></i>获取内部资料</p>
                    </div>
                </div>
            </div>
            <div class="d d-qrcode">
                <i class="arrow"></i>
                <div class="inner-box">
                    <div class="qrcode-img"><img src="__IMG__/gz_code.jpg" style="width:200px;" alt=""></div>
                    <p>微信服务号</p>
                </div>
            </div>
    
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
    
        /* ----- 侧边悬浮 ---- */
        $(document).on("mouseenter", ".suspension .a", function(){
            var _this = $(this);
            var s = $(".suspension");
            var isService = _this.hasClass("a-service");
            var isServicePhone = _this.hasClass("a-service-phone");
            var isQrcode = _this.hasClass("a-qrcode");
            if(isService){ s.find(".d-service").show().siblings(".d").hide();}
            if(isServicePhone){ s.find(".d-service-phone").show().siblings(".d").hide();}
            if(isQrcode){ s.find(".d-qrcode").show().siblings(".d").hide();}
        });
        $(document).on("mouseleave", ".suspension, .suspension .a-top", function(){
            $(".suspension").find(".d").hide();
        });
        $(document).on("mouseenter", ".suspension .a-top", function(){
            $(".suspension").find(".d").hide(); 
        });
        $(document).on("click", ".suspension .a-top", function(){
            $("html,body").animate({scrollTop: 0});
        });
        $(window).scroll(function(){
            var st = $(document).scrollTop();
            var $top = $(".suspension .a-top");
            if(st > 400){
                $top.css({display: 'block'});
            }else{
                if ($top.is(":visible")) {
                    $top.hide();
                }
            }
        });
        
    });	
    </script>