<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{$site['keword']}">
    <meta name="description" content="{$site['desc']}">
    <title>宿迁晴空网络科技有限公司 高防BGP服务器服务商</title>
    {include file="common:maincss"/}
</head>

<body>
    
    {include file="common:header"/}
    <!--end header-->
    <!--start home area-->
    <section class="home-area">
        <div class="container">
            <div class="row">
                <!--start caption content-->
                <div class="col-md-6">
                    <div class="caption-cont">
                        <h1>设计、搭建、部署、SEO一站式服务，为您的网站保驾护航</h1>
                    </div>
                </div>
                <!--end caption content-->
                <!--start caption image-->
                <!--<div class="col-md-6">
                    <div class="caption-img">
                        <img src="__IMG__/server-1.png" class="img-fluid" alt="">
                    </div>
                </div>-->
                <!--end caption image-->
            </div>
        </div>
    </section>
    <!--end home area-->
    
    <!--start service area-->
    <section class="service-area">
        <div class="container">
            <div class="row">
                <!--start section heading-->
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <div class="section-heading text-center">
                        <h2>升级产品</h2>
                        <p>网站、管理系统、小程序一网打尽</p>
                    </div>
                </div>
                <!--end section heading-->
            </div>
            <div class="row">
                <!--start service single-->
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <div class="icon">
                            <img src="__IMG__/website.png" class="img-fluid" alt="">
                        </div>
                        <h4>企业官网</h4>
                        <p>定制服务 1对1方服务 多效合一<br> 多端覆盖 服务保障 专业售后</p>
                    </div>
                </div>
                <!--end service single-->
                <!--start service single-->
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <div class="icon">
                            <img src="__IMG__/manpro.png" class="img-fluid" alt="">
                        </div>
                        <h4>管理系统</h4>
                        <p>CRM系统 1对1服务 办公管理<br> 弹性管理 增值服务 专业售后</p>
                    </div>
                </div>
                <!--end service single-->
                <!--start service single-->
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <div class="icon">
                            <img src="__IMG__/wepro.png" class="img-fluid" alt="">
                        </div>
                        <h4>小程序</h4>
                        <p>定制服务 1对1方服务 多效合一<br> 数据库设计 服务保障 专业售后</p>
                    </div>
                </div>
                <!--end service single-->
            </div>
        </div>
    </section>
    <!--end service area-->
    {include file="common:footer"/}
    {include file="common:mainjs"/}
    {include file="common:sider"/}
</body>

</html>
